.cardClass2{
    margin-top: 3rem;
}
.add-productContainer{
    width: 100%;
    max-width: 60rem;
    margin: 3rem 0rem;
    margin-left: 5rem;  
}
.cardClass{
    margin-top: 1rem;
}
.add-productContainer .control label{
    display: block;
    font-weight: bold;
}
.add-productContainer .control input,textarea,select{
    display: block;
    font: inherit;
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 6px;
    margin-top: 1rem;
}

.add-productContainer .cat{
    margin-top: 2rem;
}

.add-productContainer .action{
    display: flex;
    justify-content: center;
}

.add-productContainer .control .btn{
    padding: 0rem 1.5rem;
}

.progress {
    background-color: #aaa;
    border: 1px solid transparent;
    border-radius: 10px;
  }
  .progress-bar {
    background-color: blue;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 1rem;
  }